
<div *ngIf="chatMessage">
    <h2><span jhiTranslate="relasApp.chatMessage.detail.title">Chat Message</span> {{chatMessage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="relasApp.chatMessage.time">Time</span></dt>
        <dd>
            <span>{{chatMessage.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.chatMessage.message">Message</span></dt>
        <dd>
            <span>{{chatMessage.message}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.chatMessage.accessory">Accessory</span></dt>
        <dd>
            <div *ngIf="chatMessage.accessory">
                <a (click)="openFile(chatMessage.accessoryContentType, chatMessage.accessory)" jhiTranslate="entity.action.open">open</a>
                {{chatMessage.accessoryContentType}}, {{byteSize(chatMessage.accessory)}}
            </div>
        </dd>
        <dt><span jhiTranslate="relasApp.chatMessage.chatID">Chat ID</span></dt>
        <dd>
            <div *ngIf="chatMessage.chatIDId">
                <a [routerLink]="['/chat-room-my-suffix', chatMessage.chatIDId]">{{chatMessage.chatIDChatID}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="relasApp.chatMessage.messageSender">Message Sender</span></dt>
        <dd>
            {{chatMessage.messageSenderLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-message-my-suffix/'+ chatMessage.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
