
<div *ngIf="tweet">
    <h2><span jhiTranslate="relasApp.tweet.detail.title">Tweet</span> {{tweet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="relasApp.tweet.time">Time</span></dt>
        <dd>
            <span>{{tweet.time | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.tweet.message">Message</span></dt>
        <dd>
            <span>{{tweet.message}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.tweet.accessory">Accessory</span></dt>
        <dd>
            <div *ngIf="tweet.accessory">
                <a (click)="openFile(tweet.accessoryContentType, tweet.accessory)" jhiTranslate="entity.action.open">open</a>
                {{tweet.accessoryContentType}}, {{byteSize(tweet.accessory)}}
            </div>
        </dd>
        <dt><span jhiTranslate="relasApp.tweet.userID">User ID</span></dt>
        <dd>
            {{tweet.userIDLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tweet-my-suffix/'+ tweet.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
