<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTweetLabel" jhiTranslate="relasApp.tweet.home.createOrEditLabel">Create or edit a Tweet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tweet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tweet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.tweet.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="tweet.time"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.time?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.tweet.message" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="tweet.message" required/>
            <div [hidden]="!(editForm.controls.message?.dirty && editForm.controls.message?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.message?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.tweet.accessory" for="field_accessory">Accessory</label>
            <div>
                <div *ngIf="tweet.accessory" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(tweet.accessoryContentType, tweet.accessory)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{tweet.accessoryContentType}}, {{byteSize(tweet.accessory)}}</span>
                    <button type="button" (click)="tweet.accessory=null;tweet.accessoryContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_accessory" (change)="setFileData($event, tweet, 'accessory', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="accessory" id="field_accessory"
                [(ngModel)]="tweet.accessory" />
            <input type="hidden" class="form-control" name="accessoryContentType" id="field_accessoryContentType"
                [(ngModel)]="tweet.accessoryContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.tweet.userID" for="field_userID">User ID</label>
            <select class="form-control" id="field_userID" name="userID" [(ngModel)]="tweet.userIDId"  required>
                <option *ngIf="!editForm.value.userID" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userID?.dirty && editForm.controls.userID?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userID?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
