
<div *ngIf="friendList">
    <h2><span jhiTranslate="relasApp.friendList.detail.title">Friend List</span> {{friendList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="relasApp.friendList.userRelationship">User Relationship</span></dt>
        <dd>
            <span>{{friendList.userRelationship}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.friendList.remark">Remark</span></dt>
        <dd>
            <span>{{friendList.remark}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.friendList.userID">User ID</span></dt>
        <dd>
            {{friendList.userIDLogin}}
        </dd>
        <dt><span jhiTranslate="relasApp.friendList.friendID">Friend ID</span></dt>
        <dd>
            {{friendList.friendIDLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'friend-list-my-suffix/'+ friendList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
