
.friend-list {
    float: right;
    top: 50px;
    position: -webkit-sticky;
    position: sticky;
}

.box {
    width: 300px;
}

li {
    padding: 0 0 0 0;
    border: solid;
}

.button-content {
    font-size: 10px;
}
