<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChatRoomMemberLabel" jhiTranslate="relasApp.chatRoomMember.home.createOrEditLabel">Create or edit a Chat Room Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chatRoomMember.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chatRoomMember.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.chatRoomMember.chatID" for="field_chatID">Chat ID</label>
            <select class="form-control" id="field_chatID" name="chatID" [(ngModel)]="chatRoomMember.chatIDId"  required>
                <option *ngIf="!editForm.value.chatID" [ngValue]="null" selected></option>
                <option [ngValue]="chatRoomOption.id" *ngFor="let chatRoomOption of chatrooms; trackBy: trackChatRoomById">{{chatRoomOption.chatID}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.chatID?.dirty && editForm.controls.chatID?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.chatID?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="relasApp.chatRoomMember.memberID" for="field_memberID">Member ID</label>
            <select class="form-control" id="field_memberID" name="memberID" [(ngModel)]="chatRoomMember.memberIDId"  required>
                <option *ngIf="!editForm.value.memberID" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.memberID?.dirty && editForm.controls.memberID?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.memberID?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
