
<div *ngIf="chatRoomMember">
    <h2><span jhiTranslate="relasApp.chatRoomMember.detail.title">Chat Room Member</span> {{chatRoomMember.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="relasApp.chatRoomMember.chatID">Chat ID</span></dt>
        <dd>
            <div *ngIf="chatRoomMember.chatIDId">
                <a [routerLink]="['/chat-room-my-suffix', chatRoomMember.chatIDId]">{{chatRoomMember.chatIDChatID}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="relasApp.chatRoomMember.memberID">Member ID</span></dt>
        <dd>
            {{chatRoomMember.memberIDLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'chat-room-member-my-suffix/'+ chatRoomMember.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
