<div class="container chat rounded" [style.display]="open? 'block': 'none'">
  <span aria-hidden="true" (click)="closeChat()">&times;</span>  
  <div class="messages">
    <app-message-dispaly [messages]="message"></app-message-dispaly>
  </div>
  <form class="input" #f="ngForm" (ngSubmit)="newMessage(inputText.value); f.reset()" >
    <div class="form-group ">
      <button type="submit" class="btn btn-primary button-font" *ngIf="f.valid">Send</button>
      <textarea ngModel name="newMessage" required class="form-control" id="text" rows="3"  #inputText="ngModel"></textarea>
    </div>
  </form>
</div>