/**Style for display messages*/
.messages {
    box-sizing: border-box;
    /* padding: 3px 3px 3px 3px; */
    height: 450px;
    border: solid;
    border-width: 1px;
    margin-top: 6px;
}

/**Wrap the component*/
.chat {
    box-sizing: border-box;
    width: 420px;
    border: solid
}

/**Style for compose new message*/
.input {
    margin-top: 6px;
}

/**Style for buttom*/
.button-font {
    font-size: 9px;
}

@media screen and (max-width: 460px) {
    .messages {
        height: 270px;
    }
    .chat {
        width: 93%;
    }

    textarea {
        height: 60px;
    }
}

@media screen and (max-width: 620px) and (min-width: 461px) {
    .messages {
        height: 300px;
    }
    .chat {
        width: 93%;
    }
}