
<div *ngIf="userPortfolio">
    <h2><span jhiTranslate="relasApp.userPortfolio.detail.title">User Portfolio</span> {{userPortfolio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="relasApp.userPortfolio.displayName">Display Name</span></dt>
        <dd>
            <span>{{userPortfolio.displayName}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.userPortfolio.description">Description</span></dt>
        <dd>
            <span>{{userPortfolio.description}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.userPortfolio.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'relasApp.GenderEnum.' + userPortfolio.gender}}">{{userPortfolio.gender}}</span>
        </dd>
        <dt><span jhiTranslate="relasApp.userPortfolio.user">User</span></dt>
        <dd>
            {{userPortfolio.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-portfolio-my-suffix/'+ userPortfolio.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
