<div class="container-fluid">
  <app-search-result-display [userPortfolioss]="portfolio"></app-search-result-display>
  <ng-template #content>
    <div class="modal-header">
      <h4 class="modal-title">Edit Portfolio</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-portfolio-change-form *ngIf="portfolio.length > 0" [portfolio]="userPortfolio" (portfolioChange)="changePortfolio($event)"></app-portfolio-change-form>
    </div>
  </ng-template>
  <button *ngIf="userPortfolio" class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Edit Portfolio</button>
</div>



