<div *ngIf="user.friendInfoCheck()" class="box container-fluid">
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <a href="#" class="link">more</a>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <app-display-service-image [imageContentType]="user.getFriendImageContentType()" [imageSrc]="user.getFriendImage()"></app-display-service-image>
    </div>
    <div class="col-8" (click)="clicked()">
      <div class="row name">
        <p class="name">{{user.getFriendDisplayName()}}</p>
      </div>
      <div class="row">
        <div class="description">
            <p>{{user.getFriendDescription()}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

